.bikerz-zone-light-red {
    background-color: rgb(215, 112, 112);
}

.rating-icon {
    width: 20px;
}

.btn-bz-danger {
    background-color: rgb(231, 164, 164);
    color: white;
}

/* .w-25 {
    width: 75% !important;
} */